.mc-orange {
  color: #ff8700 !important;
}

.border-mc {
  border-color: #ff8700 !important;
}

.bg-card{
  background-color: #454545 !important;
  border-color: #ff8700 !important;
}

.bg-mc{
  background-color: #ff8700 !important;
}